[Unit]
Description=Alignak Broker
After=syslog.target
PartOf=alignak.service
ReloadPropagatedFrom=alignak.service

[Service]
Type=forking
ExecStart=/usr/bin/alignak-broker -d -c /etc/alignak/daemons/brokerd.ini
KillMode=process
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
