[Unit]
Description=Alignak Poller
After=syslog.target
PartOf=alignak.service
ReloadPropagatedFrom=alignak.service

[Service]
Type=forking
ExecStart=/usr/bin/alignak-poller -d -c /etc/alignak/daemons/pollerd.ini
KillMode=process
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
